
<body class="show-booking">
 <div class="d-flex justify-content-between">
  <div class="title-author">
    <h1>Your booking is <%= @booking.state %>!</h1>
    <h2>Please check if the information below is correct</h2>
  </div>

    <div class="pending-container">
    <h2><%= @booking.state %></h2>
  </div>
</div>
<div class="d-flex justify-content-between">

    <div>
      <%= cl_image_tag @book.photo.key, height: 400, width: 600, crop: :fill, class: "show-photo" %>
    </div>

  <div class="date-container">
      <h3 class="text-price"> PRICE </h3>
      <h1 class="text-price-booking"><%= @book.price %> £</h1>
      <h4 class="date-text">start date</h4>
      <h3 class="text-price-booking"><%= @booking.start_date %></h3>
      <h4 class="date-text">end date</h4>
      <h3 class="text-price-booking"><%= @booking.start_date %></h3>
      <div class="btn-manage-booking"><%= link_to "Manage your bookings", user_path(@user), class: "btn-color" %></div>
    </div>
</div>
<hr class="divide-member-3">
  <div class="member-info-booking d-flex justify-content-between">
    <div>
    <h3>Book posted by</h3>
    <h4><%= @book.user.email %></h4>
    </div>
    <div>
      <% if @book.user.avatar.attached? %>
        <%= cl_image_tag @book.user.avatar.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% else %>
        <%= image_tag "user.svg", class: "avatar dropdown-toggle" %>
      <% end %>
    </div>
  </div>

  <hr class="divide-member">

  <div class="show-container d-flex justify-content-between">

    <div class="book-details">
      <div class="book-detail-1 d-flex">
         <div class="icon-details"><%= image_tag "title.svg" %></div>
         <h4><%= @book.title %></h4>
      </div>
      <div class="book-detail d-flex">
         <div class="icon-details"><%= image_tag "writer.svg" %></div>
         <h4><%= @book.author %></h4>
      </div>
      <div class="book-detail d-flex">
         <div class="icon-details"><%= image_tag "publisher.svg" %></div>
         <h4><%= @book.publisher %></h4>
      </div>
      <div class="book-detail d-flex">
        <div class="icon-details"><%= image_tag "genre.svg" %></div>
        <h4><%= @book.genre %></h4>
      </div>
       <div class="book-detail d-flex">
        <div class="icon-details"><%= image_tag "condition.svg" %></div>
      <h4><%= @book.condition %></h4>
    </div>
     <div class="book-detail d-flex">
        <div class="icon-details"><%= image_tag "year.svg" %></div>
      <h4><%= @book.year %></h4>
    </div>
  </div>




</div>

<hr class="divide-member-2">

</body>


