
<body class="profile-page">
<div class="d-flex">
  <div class="flex-header">
<h1 class="land-header mb-3">User email: <%= @user.email %> </h1>
<h2 class="land-subheader mb-5"> Manage your books & bookings! </h2>

<div class="d-flex justify-content-between">

<div class="profile-books">
<h1>My books</h1>
<div>
    <% if @user.books.exists? %>
        <ul>    <% @user.books.each do |user| %>
           <li>  <%= user.title %>
            <%= user.author %>
            <%= user.genre %>
            <%= user.publisher %>
            <%= user.condition %> </li>
        <% end  %>
      </ul>
    <% else %>
        <p>You don't have any books</p>
    <% end %>
</div>
</div>
<div class="profile-bookings">
<h1>My bookings</h1>

<div>

    <% if @user.bookings.exists? %>
    <ul>
       <% @user.bookings.each do |user| %>
          <li>   <%= user.start_date %>
            <%= user.end_date %> </li>

        <% end  %>
         </ul>
    <% else %>
        <p> "You don't have any bookings" </p>
    <% end %>
</div>
</div>
</div>
</body>
