
<body class="body-index">
<h1 class="header-index"> Books you might like. </h1>
<div class="card-container d-flex">
    <% @books.each do |book| %>
      <div class="card-product">
        <div class="card-product-infos">
          <% if book.photo.attached? %>
            <div class="image-display"><%= cl_image_tag book.photo.key, height: 300, width: 400, crop: :fill%></div>
          <% end %>
          <h3><%= link_to book.title, book_path(book), class: "book-title-index" %> </h3>
          <h4><%= book.author %> </h4>
          <p><em> Belongs to <%=book.user.email%></em></p>
          <p><em>On <%=book.created_at.strftime("%A, %b %d")%></em></p>
          <%#= link_to "Remove", book_path(book), method: :delete, :class => "btn-remove" %>
          </div>
        </div>

    <%end%>
</div>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<%= form_tag books_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a book"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

</body>
