<body class="show-page">
  <div class="title-author">
    <h3><%= @book.title %></h3>
    <h3><%= @book.author %></h3>
  </div>
  <div class="d-flex justify-content-between">
    <div>
      <%= cl_image_tag @book.photo.key, height: 400, width: 600, crop: :fill, class: "show-photo" %>
    </div>
    <div class="book-price">
      <h3 class="text-price"> PRICE </h3>
      <h1><%= @book.price %> £</h1>
      <% unless @book.user == current_user %>
        <div class="btn-make-booking">
          <%= link_to "Make a booking", new_book_booking_path(@book), class: "btn-color" %>
        </div>
      <% end %>
    </div>
  </div>

<hr class="divide-member">

  <div class="member-info d-flex justify-content-between">
    <div>
    <h3>Book posted by</h3>
    <h4><%= @book.user.email %></h4>
    </div>
    <div>
      <% if @book.user.avatar.attached? %>
        <%= cl_image_tag @book.user.avatar.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% else %>
        <%= image_tag "user.svg", class: "avatar dropdown-toggle" %>
      <% end %>
    </div>
  </div>

  <hr class="divide-member">

  <div class="show-container d-flex justify-content-between">

    <div class="book-details">
      <div class="book-detail-1 d-flex">
         <div class="icon-details"><%= image_tag "publisher.svg" %></div>
         <h4><%= @book.publisher %></h4>
      </div>
      <div class="book-detail d-flex">
        <div class="icon-details"><%= image_tag "genre.svg" %></div>
        <h4><%= @book.genre %></h4>
      </div>
       <div class="book-detail d-flex">
        <div class="icon-details"><%= image_tag "condition.svg" %></div>
      <h4><%= @book.condition %></h4>
    </div>
     <div class="book-detail d-flex">
        <div class="icon-details"><%= image_tag "year.svg" %></div>
      <h4><%= @book.year %></h4>
    </div>
  </div>




</div>

<hr class="divide-member-2">

</body>


